# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*


 const handleSubmit = (e) =>{
    e.preventDefault()
    const formData = {name, email}
    console.log(formData)
  }