* {
    margin: 0;
    padding: 0;
}
:root {
    --primary-backgroundcolor: black;
    --primary-frontcolor: #ff4632;
    --words-color: white;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    background-color: var(--primary-backgroundcolor);
    h1 {
        color: var(--primary-frontcolor);
    }

    ul {
        display: flex;
        margin-top: 1rem;
        gap: 10rem;
        background-color: none;
    }
    a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        background-color: none;
    }
}

#section1 {
    background-color: #ff4632;
    padding: 3rem;
    color: var(--words-color);
    p {
        width: 10vw;
        height: 5vh;
        overflow-y: auto;
        font-size: .5em;
        padding: 2rem;
    }
    p a {
        text-decoration: none;
        color: var(--words-color);
        font-weight: 1000;
        font-size: 1.5em;
    }

    /* section1 grid */
    display: grid;
    grid-template-areas: 
        "a b"
        "c b"
        "d b"
        "e b"
        "f b";
    justify-content: center;
    h2 {
        grid-area: a;
        padding-right: 2rem;
        font-size: 50vw;
        grid-column: a / b;
        grid-row: 2 / 6;
        z-index: 0;
        align-self: start;
        opacity: 0.3;

    }
    .section1-p {
        grid-area: c;
    }
    .section1-p-longwords {
        grid-area: d;
    }
    .section1-p-longwords1 {
        grid-area: e;
    }
    .section1-link {
        z-index: 1;
        grid-area: f;
    }
    figure {
        grid-area: b;
        grid-row: 3 / -2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        height: 40dvh;
        padding-left: 4rem;
        img {
            max-width: 50vw;
            border-radius: 3rem;
        }
        figcaption {
            align-self: center;
        }
    }
}

#section2 {
    padding: 2rem;
    gap: 2rem;
    display: grid;
    width: 100dvw;
    justify-content: center;
    grid-template-areas: 
        "aa aa"
        "bb cc"
        "dd cc";
    background-color: var(--primary-backgroundcolor);
    color: var(--words-color);
    p {
        color: var(--words-color);
        width: 50vw;
        height: 30vh;
        overflow-y: auto;
        grid-area: cc;
        justify-content: center;
        align-self: center;
    }
    h2 {
        display: flex;
        grid-area: aa;
        color: var(--words-color);
        justify-content: center;
    }
    .section2-orderlist {
        grid-area: bb;
        padding-left: 2rem;
    }
    .section2-unorderlist {
        grid-area: dd;
        padding-left: 2rem;
    }

}

#section3 {
    background-color: var(--primary-frontcolor);
    p {
        color: var(--words-color);
        width: 50vw;
        height: 30vh;
        overflow-y: auto;
    }
    display: flex;
    flex-direction: column;
    color: var(--words-color);
    padding: 2rem;
    align-items: center;
    form {
        width: 50dvw;
        padding-top: 2rem;
        input, textarea {
            width: 50dvw;
            border-radius: 50px;
        }
        input {
            border-style: none;
            height: 2rem;
            border-radius: 50px;
        }
        input.submit {
            border-radius: 50px;
        }
        
    }
}

#section4 {
    background-color: var(--primary-backgroundcolor);
    display: flex;
    gap: 2rem;
    padding: 2rem;
    p {
        color: var(--words-color);
        width: 50vw;
        height: 30vh;
        overflow-y: auto;
    }
    table {
        caption {
            color: var(--words-color)
        }
        background-color: var(--words-color);
        width: 100%;
        border: collapse;
        text-align: left;
        font-size: small;
        color: var(--primary-backgroundcolor);
        font-weight: 500;
        thead {
            background-color: gray;
        }
        tr {
            th {
                font-size: medium;
                font-weight: 900;
            }
        }
    }
}

footer {
    padding: 2rem;
    display: flex;
    justify-content: center;
}